# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Flask
instance/
.webassets-cache
flask_session/

# Redis
dump.rdb

# Logs
*.log
logs/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Google API credentials
client_secrets.json
credentials.json
token.json

# Temporary files
tmp/
temp/

# OS specific
.DS_Store
Thumbs.db

# GitHub Actions
.github/workflows/ci.yml

# credentials
credentials.json
credentials_web.json
credentials_web_2.json
